<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TowerDefenseTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D294D4D41D4B0C5900C74D27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D294D4EC1D4B0C5A00C74D27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D294D4F71D4B0C5A00C74D27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
